body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
}

header {
  padding-bottom: 30px;
  text-align: center;
  background-image: url(./assets/headerImage.png);
  background-repeat: no-repeat;
}
header p {
  font-size: 20px;
  font-style: oblique;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.4);
  color: #000000;
}


h1 {
  font-size: 3vw;
  text-align: center;
  color: #337ab7;
  
  
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #337ab7;
  text-align: center;
}
h3 {
  color: forestgreen;
}
ul {
  color: #f8f8f8;
  text-align: center;
list-style-type: none;
padding-right: 2.4%;
}

#skills li {
color: rgb(255, 255, 255);
}
#Objectives{
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(216, 215, 215));
  padding-top: 1vh;
}
#skills{
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(137, 137, 145) 90%, rgb(55, 56, 77));
  padding-top: 1vh;
}
#skills li {
  color: rgb(0, 0, 0);
  font-size: 3vh;
}
#Objectives p {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 2vh;
  font-size: 3vh;
  }
#logic {
  background: linear-gradient(to bottom, rgb(162, 132, 232) 0%,rgb(162, 132, 232) 95%, rgb(56,57,78) 95%,rgb(56,57,78) 100% );
    background-size: 100vw;;
    background-repeat: no-repeat;
    text-align: center;
    }

    #logic p {
      padding-left: 4vw;
      padding-right: 4vw;
    }
#exp {
      background-image: url(./assets/1698268857534.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      }

#exp li {
  color: rgb(234, 248, 252);
}

li {
  padding: .2%;
}

.inside {
  background-color: rgba(254, 254, 254, 0.5);
  color: #f8f8f8;
  text-align: center;
  padding: 1%;
  margin: 0;
}

#experience{
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 1vh;
    padding-bottom: 1vh;
  
}
#education{
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 1vh;
  padding-bottom: 1vh;

}
#AdditionalActivities{
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 1vh;
  padding-bottom: 1vh;

}
footer{
  background-color: rgba(255, 255, 255, 0.5);
}